<form 
  class="register__form form"
  action="/." 
  method="get" 
>
  {{{EmailInput}}}
  {{{LoginInput}}}
  {{{FirstNameInput}}}
  {{{SecondNameInput}}}
  {{{PhoneInput}}}
  {{{PasswordInput}}}
  {{{PasswordRepeatInput}}}
  <div class="register__controls">
    {{{RegistrationButton}}}
    {{{LoginButton}}}
  </div>
</form>
