<form 
  class={{class}}
  action={{action}}
  method={{method}}
>
<div class="login__flex">
  {{{LoginInput}}}
  {{{PasswordInput}}}

</div>


  <div class="login__controls">
    {{{LoginButton}}}
    
    {{{RegistrationButton}}}
  </div>
</form>
