<form 
  class="profile__form form"
>
  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="email"
    >
      Почта
    </label>

    {{{EmailInput}}}
  </div>

  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="login"
    >
      Логин
    </label>

    {{{LoginInput}}}
  </div>

  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="first_name"
    >
      Имя
    </label>

    {{{FirstNameInput}}}
  </div>

  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="second_name"
    >
      Фамилия
    </label>

    {{{SecondNameInput}}}
  </div>
  
  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="nickname"
    >
      Никнейм
    </label>

    {{{NicknameInput}}}
  </div>

  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="phone"
    >
      Телефон
    </label>

    {{{PhoneInput}}}
  </div>

  {{#if isEdit}}
    {{{SaveButton}}}
  {{/if}}
</form>
