<li class="message">
    <div class="message__info">
        <div class="message__wrap">
            <img src={{avatar_user}} alt="картинка" class="message__avatar-user" />
            <div class="message__info-user">
                <div class="message__user-title">
                    {{user__name}}
                </div>
                <div class="message__user-message">
                    {{user__last-message}}
                </div>
            </div>

        </div>

        <div class="message__status">

            <div class="message__time">{{time_data}}</div>
            <div class="message__checked">{{checked}}</div>
        </div>
    </div>
</li>
